.authorization {
  background-color: gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authorization > div:first-child {
  margin-bottom: 5px;
  width: 200px;
  position: relative;
}
.authorization > div:first-child > input:last-child {
  position: absolute;
  right: 0px;
}
.logIn > form > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.register > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
form > div {
  margin-top: 5px;
}
form {
  display: block;
  width: 250px;
}
label {
  margin-bottom: 5px;
}
.validationDiv {
  font-size: smaller;
  color: darkred;
  margin-top: 3px;
}
input[value='Register'],
input[value='Log In'],
input[value='Submit'] {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 5px;
  text-align: center;
}
