body {
  height: 100vh;
}
.people {
  color: lightgreen;
  font-size: large;
}
.people > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.people > div:first-child > div {
  min-width: 10px;
}
.people > div:last-child {
  display: flex;
}
.friends:hover {
  cursor: pointer;
}
.requestSent {
  font-size: 12px;
  color: green;
  border: 1px gray solid;
}
.online {
  display: inline-block;
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50px;
}
.offline {
  display: inline-block;
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50px;
}
.logOut {
  position: relative;
  top: 5px;
  left: 10px;
}
.loggedIn {
  padding-left: 5px;
}
.currUser {
  color: cyan;
}
.mainDiv {
  display: flex;
  flex-direction: row;
  background-color: gray;
  height: 100vh;
  width: 100vw;
}
.mainDiv > div:first-child {
  min-width: 20%;
}
.peopleDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: calc(100% - 25px);
  border-right: 2px solid lightgray;
  margin-left: 10px;
  padding-right: 10px;
}
.inline-block {
  display: inline-block;
}
.searchBar {
  width: 70%;
}
.addFriendDiv {
  margin-top: 10px;
}
.friendsDiv {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 2px solid lightgray;
  text-align: center;
}
.friendsDiv > div {
  width: 100%;
}
.friendsDiv > div > input {
  width: 100%;
}
.people {
  text-align: left;
  padding-left: 10px;
  margin-top: 5px;
  background-color: darkslategray;
  border-radius: 5px;
}
.peopleInnerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chatDiv {
  position: relative;
  display: grid;
  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  margin-right: 10px;
  grid-template-rows: 1fr 10fr 1fr;
}
.chatDiv > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  color: greenyellow;
}
.chat {
  border: 1px solid greenyellow;
  background-color: darkgray;
  border-radius: 5px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.chat > div:first-child {
  margin-bottom: 5px;
}
.sendTextDiv {
  width: 100%;
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
}
textarea {
  width: 100%;
  resize: none;
}
.chatText {
  display: grid;
  position: relative;
  width: 65%;
  min-height: 2em;
  word-break: break-all;
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
  line-height: 1.2em;
}
.isTyping {
  padding-top: 5px;
  margin-left: 15px;
  padding-bottom: 5px;
}
.me {
  margin-right: 10px;
  margin-left: auto;
  background-color: cyan;
}
.friend {
  margin-left: 10px;
  background-color: white;
}
.myTextDate {
  text-align: end;
  margin-right: 15px;
  font-size: small;
  padding-top: 5px;
}
.friendTextDate {
  margin-left: 15px;
  font-size: small;
  padding-top: 5px;
}
.emptyChat {
  height: 100%;
  color: green;
  font-weight: 500;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friendsContainer {
  max-height: 35vh;
  overflow: auto;
}
.peopleContainer {
  max-height: 35vh;
  overflow: auto;
}
.sendTextDiv > div:last-child > button {
  width: 100%;
  height: 100%;
}
input[value='Remove'] {
  color: red;
}
input[value='Reject'] {
  color: red;
}
input[value='Accept'] {
  color: green;
}
input[value='Add'] {
  color: green;
}
.isSeen {
  font-size: small;
  text-align: end;
  margin-right: 15px;
  padding-top: 5px;
}
.messageOptions {
  border-radius: 10px;
  width: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  z-index: 1;
  cursor: pointer;
}
.me.messageOptions {
  position: absolute;
  right: 0px;
}
.friend.messageOptions {
  position: absolute;
  left: 0px;
}
.msgOpts {
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border-radius: 5px;
}
.myMsgOpts {
  position: absolute;
  left: -70px;
}
.myMsgOpts > div:first-child {
  background-color: rgb(168, 14, 14);
  color: white;
}
.myMsgOpts > div:last-child {
  background-color: green;
  color: white;
}
.replyMsg {
  background-color: green;
  color: white;
  position: absolute;
  right: -50px;
}
.closeReply {
  position: absolute;
  right: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
}
.replyDiv {
  display: flex;
  padding-left: 15px;
}
.replyDiv > div:first-child {
  margin-top: 15px;
  padding-right: 5px;
}
.chatReplyDiv {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.isRemoved {
  font-style: italic;
}
.notificationOuterDiv {
  display: inline-block;
  margin-right: 5px;
}
.notificationDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  letter-spacing: -2px;
  min-width: 20px;
  height: 20px;
  color: rgba(255, 0, 0, 0.801);
  background-color: cyan;
  border-radius: 50px;
}

@media only screen and (max-width: 1024px) {
  .chatText {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .chatText {
    width: 35%;
  }
}
