body {
  height: 100vh;
  background-color: gray;
}
.people {
  color: lightgreen;
  font-size: large;
}
.people > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.people > div:first-child > div {
  min-width: 10px;
}
.people > div:last-child {
  display: flex;
}
.friends:hover {
  cursor: pointer;
}
.requestSent {
  font-size: 12px;
  color: green;
  border: 1px gray solid;
}
.online {
  display: inline-block;
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50px;
}
.offline {
  display: inline-block;
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50px;
}
.logOut {
  position: relative;
  top: 5px;
  left: 10px;
}
.loggedIn {
  padding-left: 5px;
}
.currUser {
  color: cyan;
}
.mainDiv {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.mainDiv > div:first-child {
  min-width: 12%;
  padding-right: 10px;
  border-right: 2px solid lightgray;
}
.peopleDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: max-content;
  margin-left: 10px;
}
.inline-block {
  display: inline-block;
}
.searchBar {
  width: 70%;
}
.addFriendDiv {
  margin-top: 10px;
}
.friendsDiv {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 2px solid lightgray;
  text-align: center;
}
.friendsDiv > div > div {
  width: 100%;
}
.friendsDiv > div > div > input {
  width: 100%;
}
.people {
  text-align: left;
  padding-left: 10px;
  margin-top: 5px;
  background-color: darkslategray;
  border-radius: 5px;
}
.peopleInnerDiv {
  display: flex;
  flex-direction: row;
}
.chatDiv {
  position: relative;
  display: grid;
  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  margin-right: 10px;
  grid-template-rows: 1fr 10fr 1fr;
}
.chatDiv > div:first-child {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: greenyellow;
}
.chat {
  position: relative;
  border: 1px solid greenyellow;
  background-color: darkgray;
  border-radius: 5px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.chat > div:first-child {
  margin-bottom: 5px;
}
.sendTextDiv {
  width: 100%;
  height: calc(100% - 20px);
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
}
textarea {
  height: 100%;
  width: 100%;
  resize: none;
}
.chatText {
  display: grid;
  position: relative;
  min-height: 2em;
  word-break: break-word;
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
  line-height: 1.2em;
}
.isTyping {
  padding-top: 5px;
  margin-left: 15px;
  padding-bottom: 5px;
}
.me {
  margin-right: 10px;
  margin-left: auto;
  background-color: cyan;
}
.friend {
  margin-left: 10px;
  background-color: white;
}
.myTextDate {
  text-align: end;
  margin-right: 15px;
  font-size: small;
  padding-top: 5px;
}
.friendTextDate {
  margin-left: 15px;
  font-size: small;
  padding-top: 5px;
}
.emptyChat {
  height: 100%;
  color: green;
  font-weight: 500;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friendsContainer {
  max-height: 35vh;
  overflow: auto;
}
.peopleContainer {
  max-height: 35vh;
  overflow: auto;
}
.sendTextDiv > div:last-child > input {
  width: 100%;
  height: calc(100% + 8px);
}
.isSeen {
  font-size: small;
  text-align: end;
  margin-right: 15px;
  padding-top: 5px;
}
.messageOptions {
  border-radius: 10px;
  width: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  z-index: 1;
  cursor: pointer;
}
.me.messageOptions {
  position: absolute;
  right: 0px;
}
.friend.messageOptions {
  position: absolute;
  left: 0px;
}
.friend.chatText {
  padding-right: 15px;
}
.people.peopleInnerDiv {
  display: flex;
  justify-content: space-between;
}
.msgOpts {
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border-radius: 5px;
}
.myMsgOpts {
  position: absolute;
  left: -70px;
}
.myMsgRemove {
  background-color: rgb(168, 14, 14);
  color: white;
}
.myMsgReply {
  background-color: green;
  color: white;
}
.myMsgEdit {
  background-color: rgb(94, 94, 94);
  color: white;
}
.replyMsg {
  background-color: green;
  color: white;
  position: absolute;
  right: -50px;
}
.closeReply {
  position: absolute;
  right: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
}
.replyDiv {
  display: flex;
  padding-left: 15px;
}
.replyDiv > div:first-child {
  margin-top: 15px;
  padding-right: 5px;
}
.chatReplyDiv {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.isRemoved {
  font-style: italic;
}
.isEdited {
  font-style: italic;
  display: inline-block;
}
.notificationOuterDiv {
  display: inline-block;
  margin-right: 5px;
}
.notificationDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  letter-spacing: -2px;
  min-width: 20px;
  height: 20px;
  color: rgba(255, 0, 0, 0.801);
  background-color: cyan;
  border-radius: 50px;
}

.friendsBtn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 2px 20px;
  text-align: center;
}
input[value='Log Out'],
input[value='Remove'],
input[value='Reject'] {
  background-color: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 5px;
  text-align: center;
}
input[value*='Requests'],
input[value='Add Friend'],
input[value='Accept'],
input[value='Add'] {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 5px;
  text-align: center;
}
input[value='Cancel Request'] {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 5px;
  text-align: center;
}
input[value*='Requests'] {
  margin-right: 5px;
}
.noRequests {
  background-color: darkslategray;
  border: 1px solid darkslategray;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 2px 0px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatSearch {
  width: fit-content;
  position: absolute;
  right: 0px;
  display: flex;
}

.chatSearchTerm {
  margin-right: 0px;
  margin-left: auto;
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px 20px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #9dbfaf;
}

.chatSearchTerm:focus {
  color: #00b4cc;
}

.chatSearchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.friendsSearch {
  margin-top: 5px;
  display: flex;
}

.friendsSearchTerm {
  width: 100%;
  border: 3px solid darkslategray;
  padding: 5px 20px;
  height: 15px;
  border-radius: 15px;
  outline: none;
  color: rgb(121, 121, 121);
}
.friendsSearchTerm:focus {
  color: black;
}
.peopleSearch {
  display: flex;
  width: 100%;
}

.peopleSearchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px 20px;
  height: 30px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #9dbfaf;
}

.peopleSearchTerm:focus {
  color: #00b4cc;
}
.peopleSearchButton {
  height: 30px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
}
.chat > div > div > div.friend:focus-within {
  border-radius: 10px 10px 10px 0px;
  border-bottom: 5px solid darkslategray;
}
.chat > div > div > div.me:focus-within {
  border-radius: 10px 10px 0px 10px;
  border-bottom: 5px solid darkslategray;
}
.chat > div > div > div > div:focus {
  outline: none;
}

.arrow {
  box-sizing: border-box;
  height: 25px;
  width: 25px;
  border-style: solid;
  border-color: white;
  border-width: 0px 4px 4px 0px;
  transform: rotate(225deg);
  transition: border-width 150ms ease-in-out;
}
.arrowContainer {
  position: absolute;
  z-index: 1;
  height: 100%;
  left: 50%;
  bottom: 50%;
}
.arrow:hover {
  border-color: cyan;
  border-bottom-width: 6px;
  border-right-width: 6px;
}
.up {
  cursor: pointer;
  position: absolute;
  bottom: 45px;
  left: 50%;
}
.down {
  cursor: pointer;
  transform: rotate(45deg);
  position: absolute;
  bottom: -45px;
  left: 50%;
}
.chatSearchIndex {
  position: absolute;
  left: calc(50% - 3px);
  bottom: 0px;
  color: white;
}
.close {
  position: absolute;
  left: -25px;
  top: 4px;
  cursor: pointer;
  opacity: 0.5;
}
.close {
  opacity: 1;
  position: absolute;
  left: -10%;
  top: 5px;
}
.close:before,
.close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 25px;
  width: 3.5px;
  background-color: cyan;
}
.close:hover::before,
.close:hover::after {
  height: 27px;
  width: 4px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.edit {
  right: 0px;
  left: auto;
  top: -1px;
}
.edit:before,
.edit:after {
  height: 20px;
  width: 3px;
}
.edit:hover::before,
.edit:hover::after {
  height: 20px;
  width: 3px;
}

.closeEdit {
  color: rgb(43, 255, 255);
  position: absolute;
  left: -70px;
  top: 10px;
  cursor: pointer;
}
.editTimeDiv {
  font-size: smaller;
  padding-left: 5px;
  display: inline-block;
}
.editedMessageFlex > div:first-child {
  color: rgb(66, 76, 85);
}
.editedMessageFlex > div:only-child {
  min-width: auto;
  cursor: auto;
  color: black;
}
.editHistory {
  position: absolute;
  left: 50%;
  bottom: 2%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.editHistory > div {
  display: flex;
}
@media only screen and (max-width: 800px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
  }
  .mainDiv > div:first-child {
    border: 0px;
  }
  .peopleInnerDiv > input[type='search'] {
    width: 100%;
  }
  .logOut {
    position: relative;
    text-align: end;
    margin-right: 5px;
    margin-top: 4px;
  }
  .logOut > input {
    position: absolute;
    left: 5px;
    top: -4px;
  }
  .chatDiv {
    min-height: 80vh;
    width: 100vw;
    margin-right: 0px;
    padding: 0px;
  }
  .chatDiv > div {
    margin: 0px 5px;
  }
  .chatDiv > div:first-child {
    justify-content: space-evenly;
  }
  .chatText {
    min-width: 5%;
    max-width: 45%;
    padding: 3px;
    box-sizing: border-box;
  }
  .me.chatText {
    width: fit-content;
    padding-left: 5px;
    padding-right: 8px;
  }
  .friend.chatText {
    width: fit-content;
    padding-left: 5px;
    padding-right: 20px;
  }
  .chatSearch {
    position: relative;

    width: 40%;
  }
  .chatSearchTerm {
    height: 15px;
  }
  .chatSearchButton {
    height: 31px;
  }
  .close {
    left: -24px;
    top: 3px;
  }
  .myMsgOpts .msgOpts {
    line-height: 16px;
  }
  .edit::after,
  .edit::before {
    height: 0px;
    width: 0px;
  }
  .closeEdit {
    left: -50px;
    top: 5px;
  }
  .arrow {
    width: 15px;
    height: 15px;
  }
  .arrowContainer {
    position: absolute;
    top: 0px;
    bottom: auto;
  }
  .up {
    top: 8px;
    left: -20px;
  }
  .down {
    top: 22px;
    left: -20px;
  }
  .chatSearchIndex {
    top: 15px;
    left: -60px;
  }
  .chatDiv > div:first-child {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 801px) {
  .chatText {
    width: 35%;
  }
}
